<h1><%= @headline %></h1>

<table>
    <tr>
        <td>@conn.assigns.headline</td>
        <td><%= @conn.assigns.headline %></td>
    </tr>
    <tr>
        <td>@headline</td>
        <td><%= @headline %></td>
    </tr>
    <tr>
        <td>Etc/UTC</td>
        <td><%= @timestamp %></td>
    </tr>
</table>